.container{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20%;
    height: 100vh;
    left: 0;
    z-index: 0;
    max-width: 100%;
}

.TeamsContainer{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.LayoutTables{
    display: flex;
    padding-right: 1rem;
    padding-top: 1rem;
    height: 100vh;
}

.Tables{
    max-height: 80vh;
    overflow: auto;
}

.Footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 2rem;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

.sider-item{
    transition: all 0.3s ease;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, 
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: #333a45;
}

/*Movil*/
@media (max-width: 500px){ 
    .carousel-Img{
        height: 30vh;
        width: 90vw;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .Carousel{
        height: 30vh;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Desktop*/
@media (min-width: 500px){
    .carousel-Img{
        height: 50vh;
        width: 60vw;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .Carousel{
        height: 50vh;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}