.container{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20%;
    height: 100vh;
    left: 0;
    z-index: 0;
    max-width: 100%;
}

.TeamsContainer{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.LayoutTables{
    display: flex;
    padding-right: 1rem;
    padding-top: 1rem;
    height: 100vh;
}

.Tables{
    max-height: 80vh;
    overflow: auto;
}

.Footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.footer-column{
    display: flex;
    flex-direction: column;
}

/*Movil*/
@media (max-width: 500px){ 
    .carousel-Img{
        height: 30vh;
        width: 90vw;
        border-radius: 10px;
        
    }
}

/*Desktop*/
@media (min-width: 500px){
    .carousel-Img{
        height: 50vh;
        width: 60vw;
        border-radius: 10px;
    }
}