.App-header {
    background-color: #282c34;
    height: 8vh;
    width: 100%;
    right: 0;
    align-items: center;
    display: flex;
    color: white;
}

.Header-text{
    font-size: min(2vw, 20px);
    font-weight: bold;
    align-self: center;
}

.App-logo {
    height: 60px;
    pointer-events: none;
}

.Menu-container{
    margin-left: auto;
}

.Menu{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 60px;
    padding: 5px;
    background-color: #282C34;
    color: rgb(255, 255, 255);
}

.drawer-item{
    text-align: left;
}

/* unused */
.Home-Button,
.Equipos-Button, .Contacto-Button {
    margin: 0 10px;
    /* background-color: #2c2c2c; */
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

@media (max-width: 500px){
    .Header-Menu{
        display: none;
    }
    .Menu-Icon{
        display: flex;
    }
}

@media (min-width: 500px){
    .Menu-Icon{
        display: none;
    }
    .Header-Menu{
        display: flex;
    }
}

.ant-menu-item-active{
    background-color: #282c34 !important;
    color: rgb(27, 95, 198) !important;
}