.Basketball{
    max-width: 100vw;
  }

.Basketball-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(255, 255, 255);
}

@media(max-width: 500px){
    .Basketball{
        max-width: 100vw;
    }
}

.Info-LandingPage{
    text-align: center;

}